{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="content" class="site-content" tabindex="-1">
    <div class="container">

        <nav class="woocommerce-breadcrumb" ><a href="{% url 'home' %}">Home</a><span class="delimiter"><span><img style="display: inline-block;margin-right: 7px;" height="5" width="10" src="{% static 'png/next (3).png' %}"></span></span>Smart Phones &amp; Tablets</nav>

        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <!--   Products -->
                {% if Recommended %}
                <section class="section-product-cards-carousel" >
                    <header>
                        <h2 class="h1">Recommended Products</h2>
                        <div class="owl-nav">
                            <a href="#products-carousel-prev" data-target="#recommended-product" class="slider-prev"><i class="fa fa-angle-left"></i></a>
                            <a href="#products-carousel-next" data-target="#recommended-product" class="slider-next"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </header>

                    <div id="recommended-product">
                        <div class="woocommerce columns-4">
                            <div class="products owl-carousel products-carousel columns-4 owl-loaded owl-drag">


                                <div class="product">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="" rel="tag">Smartphones</a></span>
                                            <a href="single-product.html">
                                                <h3>Laptop Yoga 21 80JH0035GE  W8.1 (Copy)</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/product-category/5.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>

                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> </span></ins>
                                                        <span class="amount"> $1,999.00</span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->

                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="#" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>

                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.products -->

                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}

                <!-- end Recommended Products -->

                <header class="page-header">
                    <h1 class="page-title">Smart Phones &amp; Tablets</h1>
                    <p class="woocommerce-result-count">Showing 1&ndash;20 of {{ product.count }} results</p>
                </header>

                <div class="shop-control-bar">
                    <ul class="shop-view-switcher nav nav-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" title="Grid View" href="#grid"><span><img style="display: inline-block;margin-right: 7px;" height="16" width="16" src="{% static 'png/grid-2.png' %}"></span>
                        <li class="nav-item"><a class="nav-link " data-toggle="tab" title="List View" href="#list-view"><span><img style="display: inline-block;margin-right: 7px;" height="16" width="16" src="{% static 'png/layout.png' %}"></span>
                    </ul>
                    <form class="woocommerce-ordering" method="get">
                        <select name="orderby" class="orderby">
                            <option value="menu_order"  selected='selected'>Default sorting</option>
                            <option value="popularity" >Sort by popularity</option>
                            <option value="rating" >Sort by average rating</option>
                            <option value="date" >Sort by newness</option>
                            <option value="price" >Sort by price: low to high</option>
                            <option value="price-desc" >Sort by price: high to low</option>
                        </select>
                    </form>
                    <!-- <nav class="electro-advanced-pagination">
                        <form method="post" class="form-adv-pagination"><input id="goto-page" size="2" min="1" max="2" step="1" type="number" class="form-control" value="{{ page_obj.paginator.page_range }}" /></form> of {{ page_obj.paginator.num_pages }} {% if page_obj.has_next %}<a class="next page-numbers" href="?page={{ page_obj.next_page_number }}">&rarr;</a>{% endif %}<script>
                        jQuery(document).ready(function($){
                            $( '.form-adv-pagination' ).on( 'submit', function() {
                                var link        = '#',
                                goto_page   = $( '#goto-page' ).val(),
                                new_link    = link.replace( '%#%', goto_page );

                                window.location.href = new_link;
                                return false;
                            });
                        });
                        </script>
                    </nav> -->
                </div>

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="grid" aria-expanded="true">

                        <ul class="products columns-4">
                            {% for object in product%}
                            <li class="product">
                                <div class="product-outer">
                                    <div class="product-inner">
                                        <span class="loop-product-categories"><a href="{% url 'shop-detail' pk=object.id %}" rel="tag">{{ object.category }}</a></span>
                                        <a href="{% url 'shop-detail' pk=object.id %}">
                                            <h3>{{ object.name }}</h3>
                                            <div class="product-thumbnail">

                                                <img  src="{{ object.image.url }}" alt="">

                                            </div>
                                        </a>

                                        <div class="price-add-to-cart">
                                            <span class="price">
                                                <span class="electro-price">
                                                    <ins><span class="amount">&#036;{{ object.price }}</span></ins>
                                                    {% if object.comper_to %}<del><span class="amount">&#036;{{ object.comper_to }}</span></del>{% endif %}
                                                </span>
                                            </span>
                                            <!-- <a class="button product_type_simple ajax_add_to_cart" href="{% url 'add_to_cart' object.id %}"><span ><img class="tondy-img" height="23" width="16" src="{% static 'png/buy.png' %}"></span>Add to cart</a> -->
                                        </div><!-- /.price-add-to-cart -->

                                        <div class="hover-area">
                                            <div class="action-buttons">
                                                <a href="{% url 'wishlist:add_to_wishlist' object.id %}" rel="nofollow"><span ><img style="display: inline-block;margin-right: 10px;" height="23" width="16" src="{% static 'png/heart.png' %}"></span>Wishlist</a>
                                                <a href="#"><span ><img style="display: inline-block;margin-right: 10px;" height="23" width="16" src="{% static 'png/compare.png' %}"></span>Compare</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.product-inner -->
                                </div><!-- /.product-outer -->
                            </li>
                            {% endfor %}
                          </ul>
                    </div>
         

                    <!-- id=list-view -->
                    <div role="tabpanel" class="tab-pane" id="list-view" aria-expanded="true">

                        <ul class="products columns-3">
                        {% for object in product %}
                            <li class="product list-view">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{% url 'shop-detail' pk=object.id %}">
                                            <img class="wp-post-image"  src="{{ object.image.url }}" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body media-middle">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span class="loop-product-categories"><a rel="tag" href="#">{{ object.category }}</a></span><a href="{% url 'shop-detail' pk=object.id %}"><h3>{{ object.name }}</h3>
                                                   
                                                    <div class="product-rating">
                                                        <div title="Rated 4 out of 5" >
                                                            <span><img style="display: inline-block;margin-right: 0;" height="10" width="10" {% if review.stars >= 1 %}src="{% static 'png/star.png' %}"{% else %}src="{% static 'png/star (1).png' %}"{% endif %} ></span>
                                                            <span><img style="display: inline-block;margin-right: 0;" height="10" width="10" {% if review.stars >= 1 %}src="{% static 'png/star.png' %}"{% else %}src="{% static 'png/star (1).png' %}"{% endif %} ></span>
                                                            <span><img style="display: inline-block;margin-right: 0;" height="10" width="10" {% if review.stars >= 1 %}src="{% static 'png/star.png' %}"{% else %}src="{% static 'png/star (1).png' %}"{% endif %} ></span>
                                                            <span><img style="display: inline-block;margin-right: 0;" height="10" width="10" {% if review.stars >= 1 %}src="{% static 'png/star.png' %}"{% else %}src="{% static 'png/star (1).png' %}"{% endif %} ></span>
                                                            <span><img style="display: inline-block;margin-right: 0;" height="10" width="10" {% if review.stars >= 1 %}src="{% static 'png/star.png' %}"{% else %}src="{% static 'png/star (1).png' %}"{% endif %} ></span>
                                                        </div>
                                                    </div>
                                                    <div class="product-short-description">
                                                        <p>{{ object.specification | safe }}</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-12">

                                                <div class="availability in-stock">Availablity: <span>In stock</span></div>

                                                <span class="price"><span class="electro-price"><span class="amount">${{ object.price }}</span></span></span>
                                                <a class="button product_type_simple ajax_add_to_cart" href="{% url 'add_to_cart' object.id %}"><span ><img class="tondy-img" height="23" width="16" src="{% static 'png/buy.png' %}"></span>Add to cart</a>
                                                <div class="hover-area">
                                                    <div class="action-buttons">
                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2706">
                                                            <span><img style="display: inline-block;margin-right: 7px;" height="16" width="17" src="{% static 'png/heart.png' %}"></span>
                                                            <a  data-product-type="simple" data-product-id="2706" rel="nofollow" href="{% url 'wishlist:add_to_wishlist' item_id=object.id %}">Wishlist</a>

                                                            <div style="display:none;" class="yith-wcwl-wishlistaddedbrowse hide">
                                                                <span class="feedback">Product added!</span>
                                                                <a rel="nofollow" href="{% url 'wishlist:add_to_wishlist' object.id %}">Wishlist</a>
                                                            </div>

                                                            <div style="display:none" class="yith-wcwl-wishlistexistsbrowse hide">
                                                                <span class="feedback">The product is already in the wishlist!</span>
                                                                
                                                                <a rel="nofollow" href="{% url 'wishlist:add_to_wishlist' object.id %}">Wishlist</a>
                                                            </div>

                                                            <div style="clear:both"></div>
                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                        </div>
                                                        <div class="clear"></div>
                                                        <span><img style="display: inline-block;margin-right: 7px;" height="16" width="17" src="{% static 'png/compare.png' %}"></span>
                                                        <a data-product_id="2706" href="#">Compare</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                          
                        </ul>
                    </div>
                </div>
                <!-- pagitaniotn -->
                <div class="shop-control-bar-bottom">
                    <form class="form-electro-wc-ppp">
                        <select class="electro-wc-wppp-select c-select" onchange="this.form.submit()" name="ppp"><option selected="selected" value="15">Show 15</option><option value="-1">Show All</option></select>
                    </form>
                    <p class="woocommerce-result-count">Showing 1&ndash;20 of {{ product.count }} results</p>
                    <nav class="woocommerce-pagination">
                        <ul class="page-numbers">
                            {% for num in page_obj.paginator.page_range %}
                            <li><a href="?page={{ num }}" class="page-numbers current">{{ num }}</a></li>
                            <li><a href="?page={{ page_obj.paginator.num_pages }}" class="page-numbers">{{ page_obj.paginator.num_pages }}</a></li>
                            {% if page_obj.has_next %}
                            <li><a href="#" class="next page-numbers">→</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>

            </main><!-- #main -->
        </div><!-- #primary -->

      

    </div><!-- .container -->
</div><!-- #content -->


        <!-- {% if page_obj.has_previous %}
        <ul class="page-numbers">
        {% if page_obj.number > 2 %}
            <li><a href="?page=1"><i class="page-numbers current" aria-hidden="true"></i></a> </li>
            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
        {% else %}
            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
        {% endif %}    
        </ul>
        {% endif %}
        
        <ul class="page-numbers">
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-numbers"><a  href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-numbers"><a  href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.number == 1 %}
            <li class="page-numbers current"><a href="#">of</a></li>
        {% else %}
            <li class="page-numbers current"><a href="#">...</a></li>
        {% endif %}
            <li class="page-numbers current"><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
        </ul>
        {% if page_obj.has_next %}
        <ul class="page_nav d-flex flex-row">
        <li class="next page-numbers"><a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li> 
        <li> <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
    </ul>
        {% endif %}
                        -->
               

<!-- shop.js -->

{% endblock %}